---
layout: default
---

<div class="home">
  <head>
      <title>{{ site.title }}</title>
  </head>
  <div class="home-title">
    <p class="home-heading">{{ site.title }}</p>
    <p class="home-sub-heading">{{- site.description | escape -}} 블로그 내용에 대한 문의사항이나 문제가 있을 시 하단의 메일로 연락 바랍니다. 즉시 수정 및 삭제 조치하겠습니다. <a href="http://www.yes24.com/Product/Goods/71829618">출처<a> </p>
  </div>

  <!-- {%- if site.posts.size > 0 -%}
  <ul class="post-list">
      {% for post in site.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
  
      {% if forloop.first %}
      <h2 id="{{ this_year }}-ref" class="post-year">{{this_year}}</h2>
      <ul>
      {% endif %}
  
      <li>
          {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">
            {{ post.date | date: date_format }}
          </span>
          <a class="black-link post-link-layout" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      </li>
  
      {% if forloop.last %}
      </ul>
      {% else %}
          {% if this_year != next_year %}
          </ul>
          <h2 id="{{ next_year }}-ref" class="post-year">{{next_year}}</h2>
          <ul>
          {% endif %}
      {% endif %}
  {% endfor %}
  </ul>
  {%- endif -%} -->
  <ul class="post-list">
    <li><a href="{{ site.baseurl }}/docs/chapter01/2-1">markdown 예시</a></li>
    <li>
      <h2 class="post-year">1장 컴퓨터 비전과 영상의 이해</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/docs/chapter01/1">영상의 구조와 표현 방법</a></li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">2장 OpenCV 설치와 기초 사용법</h2>
      <ul>
          <li>준비중</li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">3장 OpenCV 주요 클래스</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/docs/chapter03/1">Mat 클래스</a></li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">4장 OpenCV 주요 기능</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/docs/chapter04/1">4.1 다양한 그리기 함수</a></li>
        <li><a href="{{ site.baseurl }}/docs/chapter04/2">4.2 이벤트 처리</a></li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">5장 영상의 밝기와 명암비 조절</h2>
      <ul>
          <li>준비중</li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">6장 영상의 산술 및 논리 연산</h2>
      <ul>
          <li>준비중</li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">7장 필터링</h2>
      <ul>
          <li>준비중</li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">8장 영상의 기하학적 변환</h2>
      <ul>
          <li>준비중</li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">9장 에지 검출과 응용</h2>
      <ul>
          <li>준비중</li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">10장 컬러 영상 처리</h2>
      <ul>
        <li>준비중</li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">11장 이진화와 모폴로지</h2>
      <ul>
        <li>준비중</li>
       </ul>
    </li>
    <li>
      <h2 class="post-year">12장 레이블링과 외곽선 검출</h2>
      <ul>
        <li>준비중</li>
        </ul>
    </li>
    <li>
      <h2 class="post-year">13장 객체 검출</h2>
      <ul>
        <li>준비중</li>
        </ul>
    </li>
    <li>
      <h2 class="post-year">14장 지역 특징점 검출과 매칭</h2>
      <ul>
        <li>준비중</li>
        </ul>
    </li>
    <li>
      <h2 class="post-year">15장 머신 러닝</h2>
      <ul>
        <li>준비중</li>
        </ul>
    </li>
    <li>
      <h2 class="post-year">16장 딥러닝과 OpenCV</h2>
      <ul>
        <li>준비중</li>
        </ul>
    </li>
  </ul>
  
</div>
